import React, { Component } from 'react';
{{#if reactnative }}
import { View, Text } from 'react-native';
{{/if}}
{{#if cssmodules}}import classes from './{{ name }}.module.{{ cssext }}';{{/if}}
{{#if proptypes}}
import PropTypes from 'prop-types';
{{/if}}
{{#if typescript }}

export type {{ name }}ViewProps = {
  //
};
{{/if}}

{{#if export}}export {{/if}}class {{ name }}View extends Component{{~#if typescript}}<{{~ name }}ViewProps, any>{{~/if}} {
  {{#if typescript}}public {{/if}}render() {
    return (
      {{#if native }}
      <View>
        <Text>{{ name }}</Text>
      </View>
      {{else}}
      <div>
        {{ name }}
      </div>
      {{/if}}
    );
  }
}

{{#if proptypes}}
{{~ name }}View.propTypes = {
  //
};
{{#unless export}}

{{/unless}}
{{/if}}
{{#unless export }}
export default {{ name }}View;
{{/unless}}
