{{#if typescript}}
import * as React from 'react';
{{else}}
import React from 'react';
{{/if}}
{{#if cssmodules}}import classes from './{{ name }}.module.{{ cssext }}';{{/if}}
{{#if proptypes}}
  import PropTypes from 'prop-types';
{{/if}}
{{#if typescript}}

export type {{ name }}ViewProps = {
  //
};
{{/if}}

{{#if export }}export {{/if}}const {{ name }}View = (props{{#if typescript}}: {{ name }}ViewProps{{/if}}){{#if typescript}}: JSX.Element{{~/if}} => {
  return (
    <div>{{name}}</div>
  );
};

{{#if proptypes~}}
{{ name }}View.propTypes = {
  //
};
{{#unless export}}

{{/unless}}
{{/if}}
{{#unless export }}
export default {{ name }}View;
{{/unless}}

